<?php

/** 
 * /!\ Si vous avez des changements à faire merci de créer une fichier /settings/config.local.php et de faire vos changements dedans !
 * /!\ Si vous avez des changements à faire merci de créer une fichier /settings/config.local.php et de faire vos changements dedans !
 * /!\ Si vous avez des changements à faire merci de créer une fichier /settings/config.local.php et de faire vos changements dedans !
 */


/**
 * Information principal du site
 */
const MODE_DEV = FALSE;
const SITE_NAME = 'atdispo.luhcaran.fr';
const SITE_ROOT = '';


/**
 * Email Information
 */
const EMAIL_FROM_NAME = 'AT Dispo';
const EMAIL_FROM = "no-reply@at-dispo.com";

/**
 * Database Information
 */
const DB_HOST = 'localhost';
const DB_NAME = 'AtDispo ';
const DB_DNS = 'mysql:host=' . DB_HOST . ';dbname=' . DB_NAME;
const DB_USERNAME = 'root';
const DB_PWD = 'root';
